@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: 'Yeseva One', cursive;
}

.card {
    display: inline-block;
    background-color: transparent;
    width: 37%;
    height: 60vh;
    min-height: 60vw;
    perspective: 1000px;
    text-align: center;
    margin-right: 2%;
    box-shadow: 10px 10px 5px grey;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card_inner {
    transform: rotateY(-180deg);
}

.card_front,
.card_back {
    justify-content: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_front {
    background-color: rgb(241, 208, 208);
    color: rgb(0, 0, 0);
}

.card_back {
    background-color: #ff6e0d;
    color: white;
    transform: rotateY(180deg);
}

.main {
    width: 100%;
    text-align: center;
}

.main p {
    color: rgb(66, 59, 59);
    width: 100%;
    margin-top: 0;
    font-size: 3vw;
    border-bottom: 0.5px solid rgba(104, 101, 101, 0.205);
}

.img_with_cityname {
    position: relative;
}

.img_with_cityname img {
    width: 100%;
    clip-path: polygon(1% 0%, 99% 0%, 100% 73%, 69% 100%, 0% 100%);
}

.img_with_cityname .cityname {
    width: 30%;
    position: absolute;
    bottom: -5%;
    right: 0;
    font-size: 3vw;
    background-color: rgba(42, 204, 204, 0.7);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: rotateY(0deg);
}


/* Back card text positioning and design */

.container_back {
    margin: 0;
    font-family: 'Xanh Mono', monospace;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.container_back .first {
    position: relative;
    margin-top: 30%;
    font-size: 4vw;
    margin-bottom: 0;
}

.container_back .price {
    position: relative;
    margin: 0;
    margin-top: 5%;
    font-size: 12vw;
}

.container_back .button {
    position: relative;
    margin-top: 15%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    align-self: center;
    background-color: aliceblue;
    text-align: center;
    border-radius: 45%;
}

.container_back .reserve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: black;
    font-size: 3vh;
}