html,
body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: ;
}

.card {
    display: inline-block;
    background-color: transparent;
    width: 37%;
    height: 80%;
    perspective: 1000px;
    text-align: center;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card_inner {
    transform: rotateY(-180deg);
}

.card_front,
.card_back {
    justify-content: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_front {
    background-color: rgb(241, 208, 208);
    color: black;
    /* position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
}

.card_back {
    background-color: #ff6e0d;
    color: white;
    transform: rotateY(180deg);
    ;
}

.main {
    width: 100%;
    height: 100%;
}

.img_with_cityname {
    position: relative;
}

.img_with_cityname img {
    width: 100%;
    clip-path: polygon(1% 0%, 99% 0%, 100% 73%, 69% 100%, 0% 100%);
}

.img_with_cityname .cityname {
    width: 30%;
    position: absolute;
    bottom: -5%;
    right: 0;
    font-size: 180%;
    background-color: rgba(42, 204, 204, 0.7);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: rotateY(0deg);
}

.container_back {
    position: relative;
    width: 100%;
    height: 100%;
}

.container_back .first {
    position: absolute;
    font-size: 250%;
    left: 39%;
    top: 10%;
}

.container_back .price {
    position: absolute;
    font-size: 450%;
    left: 30%;
    top: 20%;
    justify-content: center;
    align-self: center;
}

.container_back .reserve {
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: absolute;
    background-color: red;
    border-radius: 25%;
    width: 46%;
    font-size: 250%;
    left: 28%;
    top: 60%;
    justify-content: center;
    align-self: center;
}


/* 
P.S:
Zbudowana strona nie jest responsywna i teksty (choziaż są wyrażone w prcentach) nie są responsywne
*/