<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" #email>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" #password>
        </mat-form-field>


      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.SignUp(email.value,password.value)">Register</button>
      <mat-button-toggle mat-stroked-button color="primary" class="btn-block mt-4" routerLink="/signIn">
        Log In

      </mat-button-toggle>
    </form>
  </mat-card>
</div>
