/* Importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/* Document */

html,
body {
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    background-color: rgb(206, 200, 200);
}

a {
    color: #000;
}

li,
ul,
a {
    list-style: none;
    text-decoration: none;
}


/* Header main elements*/

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: aquamarine;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
}

.header ul {
    margin: 0;
    padding: 0;
    /* Imitation of removal with the help of overflow */
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 15px 15px;
}

.header li a:hover,
.header .menu-btn:hover,
.header .menu-icon:hover {
    background-color: #fff5f5;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* Menu bar both for phones and pc */

.header .menu {
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .5s ease-out;
}


/* Menu icon for phones */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
}


/* Middle line */

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}


/* Top and Bottom lines */

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}


/* Checkbox specifications */

.header .menu-btn {
    display: none;
}


/* Controll the menu bar depending on checkbox status */

.header .menu-btn:checked~.menu {
    max-height: 240px;
}


/*To unshow the middle line*/

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}


/* To rotate lines that we have */

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* When display width>800px*/

@media (min-width: 800px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/* Animation of links in menu bar on phone */

@media (max-width: 800px) {
    .header li a:hover,
    .header li a:active {
        font-size: larger;
        transition: all 0.1s;
    }
}


/* 
P.S
Tak naprawdę w ostatnim media wystarczy dodać and (not mobile), bo oczywiście stosujemy podejscie mobile-first zamiast tego żeby specyfikować  width ręcznie :)
*/