<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input #mail matInput placeholder="Email" required type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input #password matInput placeholder="Password" required type="password">
        </mat-form-field>
      </mat-card-content>
      <button (click)="auth.signIn(mail.value,password.value)" class="btn-block" color="accent" mat-stroked-button>
        Sign-in
      </button>

    </form>

    <mat-button-toggle class="btn-block mt-4" color="primary" mat-stroked-button routerLink="/register">
      Register

    </mat-button-toggle>
  </mat-card>

</div>
