<div class="container">
  <div>
    <h1>Add new Post</h1>
    <form [formGroup]="myForm"
          novalidate
    >
      <div class="form-group">
        <label for="name">Title</label>
        <input class="form-control" formControlName="titlePost" id="name"
               required
               type="text">
        <div *ngIf="titlePost.errors && (titlePost.dirty || titlePost.touched)"
             class="alert-danger alert"
        >
          Title is required and should be longer than 3 characters
        </div>
      </div>
      <div class="form-group">
        <label for="name">Message</label>
        <input class="form-control" formControlName="bodyPost" id="country"
               required
               type="text">
        <div *ngIf="bodyPost.errors && (bodyPost.dirty || bodyPost.touched)"
             class="alert-danger alert"
        >
          Message is required and should be longer than 3 characters
        </div>
      </div>

      <button (click)="addPost()" [disabled]="!myForm.valid" class="btn btn-success m-1" type="submit">Submit
      </button>
    </form>
  </div>
</div>
